.discription p,.talk{
	position: relative;
}

.discription .num,.talk .num{
	position: absolute;
	display: block;
	border-radius: 50%;
	text-align: center;
	cursor: pointer;
	border: 2px solid #f6f3ec;
	color: #fff;
	font-size: 12px;
	line-height:22px;
	font-style: normal;
	padding-left:1px;

	width: 26px;
	height: 26px;
	right: -13px;
	background: #4fc1e9;
	bottom: 10px;
}

.talk .num{
	bottom:30px;
}

.discription .num:empty,.talk .num:empty{
	right: -8px;
	width: 16px;
	min-width: 16px;
	max-width: 16px;
	height: 16px;
	background: #d7d7d7;
}

.talkbox .num{
	float:right;
	display: block;
	border-radius: 50%;
	text-align: center;
	cursor: pointer;
	border: 2px solid #f6f3ec;
	color: #fff;
	font-size: 12px;
	line-height:22px;
	font-style: normal;
	padding-left:1px;
	width: 26px;
	height: 26px;
	margin-top:20px;
	margin-left:10px;
	margin-right:-13px;
	background: #4fc1e9;
}

.talkbox .num:empty{
	width: 16px;
	min-width: 16px;
	max-width: 16px;
	height: 16px;
	background: #d7d7d7;
	margin-right:-10px;
}

.cosplay{
	padding:0;
	margin-right:-12px;
	margin-bottom:10px;
	border-radius:5px;
	border:1px solid #ddd;

}
.cosplaysList{
	max-height:400px;
	overflow-y:auto;
	overflow-x:hidden;
}
.cosplay h3{
	margin:0;
	padding-top:0;
	padding-bottom:20px;
}
.cosplay .newCosTitle{
	height:20px;
	background-color:#f0f0f0;
}
.cosplay .arrow{
	position:relative;
}
.cosplay .arrow i{
	position:absolute;
	top:-19px;
	right:3px;
	font-size:26px;
	color:#f0f0f0;
}
.scene ul,.scene li{
	list-style:none;
	padding-left:0;
	font-size:12px;
	line-height:20px;
}
.scene ul{
	padding-bottom:5px;
	margin-bottom:0;
}
.scene li{
	display:inline-block;
	padding-right:20px;
}
.scene .img-circle{
	width:16px;
	height:16px;
	margin-bottom:4px;
}
.scene i{
	font-size:14px;
	top:2px;
}
.scene{
	padding-left:20px;
}
.scene .delete{
	display:none;
}
.scene .btn{
	position:absolute;
	top:-60px;
	left:150px;
}
.cosplay .pagination{
	margin-top:20px;
	margin-bottom:0;
	margin-right:20px;
}

.cosplay .inputDiv{
	padding:10px 20px 20px 20px;
	background-color:#f0f0f0;
	border-bottom-left-radius:5px;
	border-bottom-right-radius:5px;
}

.cosplay .inputDiv .TextEditor{
	width:100%;
	height:34px;
	font-size:16px;
	line-height:20px;
	margin-top:20px;
	margin-bottom:5px;
	border-radius:5px;
	padding:5px;
	resize:none;
}
.cosplay .inputDiv span.pull-right{
	display:block;
	text-align:right;
	float:none!important;
}

.cosplay .inputDiv button{
	margin-top:0;
	margin-left:10px;
	margin-right:0.1rem;
	font-size:0.7rem;
	line-height:0.7rem;
}

.cosplay .inputDiv ul{
	margin:0;
	padding:10px 0 0 0;
}

.cosplay .inputDiv ul li{
	margin-left:20px;
	padding:0;
}

.scene .talk{
	padding-top:10px;
	padding-bottom:10px;
}

.scene .talk .avatar img{
	margin-top:10px;
	height:2.5rem;
	width:2.5rem;
}

@media screen and (max-width: 767px) {
	.cosplay .inputDiv{
		padding:0 10px 10px 10px;
		background-color:#f0f0f0;
		height:auto;
	}
	.scene .talk .avatar img{
		width:2rem;
		height:2rem;
	}
	.discription p{
		padding-right:5px;
	}
	.cosplay{
		width:100%;
	}
	.cosplay h3{
		padding-bottom:10px;
	}
	.scene{
		padding-left:5px;
	}
	.scene li{
		padding-right:5px;
	}
	.scene .talk{
		padding-right:5px;
	}
	.cosplay .inputDiv{
		padding-right:5px;
		padding-left:5px;
	}
	.TextEditor{
		width:100%;
		font-size:14px;
		line-height:18px;
		margin-top:10px;
		margin-bottom:5px;
		border-radius:5px;
		padding:5px;
		height:32px;
	}
	.cosplay .inputDiv span.pull-right{
		display:block;
		float:none!important;
	}

	.cosplay .inputDiv button{
		margin-right:10px;
		margin-left:0;
		margin-top:0;
	}
	.cosplay .inputDiv button:last-of-type{
		margin-right:0;
	}
	.cosplay .inputDiv ul{
		padding:0;
	}
}

.EMojiList img{
	width:40px;
	height:40px;
	margin:5px;
	cursor:pointer;
}

.AvatarPanel{
	margin-bottom:10px;
	margin-top:10px;
}

.AvatarPanel h3{
	margin-top:8px;
}

.AvatarPanel img{
	width:1rem;
	height:1rem;
	border-radius: 50%;
	border:1px solid #ddd;
	-webkit-box-flex: 0;
	display: block;
	float:left;
	margin-right:0.3rem;
}

.AvatarPanel button{
	margin-top:0.3rem;
	margin-bottom:0.3rem;
	margin-left:0.2rem;
	margin-right:0.2rem;
}

.AvatarPanel button span{
	line-height:1rem;
}

.cwelcome h3{
	margin:20px 0 0 0;
}
.cwelcome p{
	font-size:16px;
	margin:0;
	text-indent:2em;
}