@charset "utf-8";
/* CSS Document */
/*
弹出插件 AND 分享插件
autho：smohan
http://www.smohan.net
*/

/*!*body{ margin:0; padding:0; font-size:13px; background:url(../images/bg.gif) repeat; color:#333333;}*!*/
/*h3{ width:600px; height:60px; margin:50px auto 0 auto; text-align:center; line-height:60px; font-size:30px; font-weight:600; text-shadow:0px 1px 0px rgba(255,255,255,1);}*/
/*h4{ width:800px; height:20px; line-height:20px; margin:0 auto; font-size:16px; text-align:right;}*/
/*h4 a{ color:#363636; text-decoration:none;}*/
/*div.demo{ width:600px; height:320px; line-height:20px; padding-top:20px; border-top:2px dashed #cecece; margin:30px auto; }*/



/*Layer*/
.Smohan_Layer_Shade{position:fixed; _position:absolute; zoom:1; top:0; left:0; width:100%; height:100%; overflow:hidden; background:url(../images/hei.png) repeat; z-index:99900;}
.Smohan_Layer_box{ min-width:300px; height:auto; padding:20px; background:#ffffff; position:fixed; _position:absolute; top:50%; left:50%; overflow:hidden; z-index:99999;-moz-border-radius:20px;-webkit-border-radius:20px;
border-radius:20px;}
.Smohan_Layer_box h3{ display:block; width:100%; height:30px; line-height:30px; padding:0px 0px 10px 0px; margin:0; border-bottom:1px solid #cccccc; overflow:hidden;}
.Smohan_Layer_box h3 .text{ float:left;font-size:16px; font-family:'Microsoft JhengHei','Microsoft YaHei', Arial, sans-serif; font-weight:600; color:#84c017; text-indent:0.5em; display:block;}
.Smohan_Layer_box h3 .close{ display:block; width:30px; height:30px; background:url(../images/Smohan.layer.close.png) 0px 0px no-repeat; float:right;}
.Smohan_Layer_box h3 .close:hover{background-position:0px -31px;}
.Smohan_Layer_box .layer_content{ display:block; width:100%; height:100%; margin-top:10px; margin-bottom:10px; padding:0; overflow:hidden; position:relative;}
.Smohan_Layer_box .layer_content .loading{ display:block; width:36px; height:36px; background:url(../images/Load.gif) center center no-repeat; position:absolute; top:0; left:0;}
/*Share*/
#Share{ display:none; width:360px; height:120px; padding:15px 10px;}
#Share ul{ margin:0; padding:0; list-style-type:none;}
#Share ul li{ float:left; display:block; width:50px; height:50px;margin-left:5px; margin-right:5px; cursor:pointer; position:relative;}
#Share ul li a{ display:block; width:28px; height:28px; margin-left:11px; margin-top:12px;}
#Share ul li span{ display:block;width:40px;height:10px;background:url(../images/share_shade.png) 0px 0px no-repeat; position:absolute; left:5px; bottom:0px;}
#Share ul li a.share1{ background:url(../images/share_icon2.png) 0px 0px;}
#Share ul li a.share2{ background:url(../images/share_icon2.png) -28px 0px;}
#Share ul li a.share3{ background:url(../images/share_icon2.png) -56px 0px;}
#Share ul li a.share4{ background:url(../images/share_icon2.png) -84px 0px;}
#Share ul li a.share5{ background:url(../images/share_icon2.png) -112px 0px;}
#Share ul li a.share6{ background:url(../images/share_icon2.png) -140px 0px;}
/*微信二维码*/
.none{
	display: none;
}
.qrcode{
	width:180px;
	height:240px;
	padding:20px;
	position: fixed;
	left:50%;
	top:50%;
	margin-left:-120px;
	margin-top:-140px;
	background: #fff;
	z-index: 100000;
}
.qrcode img{
	max-width: 100%;
	max-height:100%;
}
.weixin_close{
	background: #7CBDD0;
	display: inline-block;
	width:100%;
	height:30px;
	line-height: 30px;
	text-align: center;
    color: #fff;
    text-decoration: none
}